@model IEnumerable<Book.Models.Librarian>

@{
    ViewData["Title"] = "Index";
}

<h1>Librarian Info</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Add Librarian Info</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qualification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalExperience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasInsurance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressLine1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressLine2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PinCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JoiningDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShiftTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qualification)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalExperience)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HasInsurance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressLine1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressLine2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PinCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JoiningDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShiftTime)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.PhotoUrl)*@
                    <img src="~/Uploads/@item.PhotoUrl" height="80" width="80" asp-append-version="true" />
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.LibrarianId" class="btn btn-sm btn-info rounded-0 fa fa-pencil-alt" >Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.LibrarianId" class="btn btn-sm btn-primary rounded-0 fa fa-user-alt" >Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.LibrarianId" class="btn btn-sm btn-danger rounded-0 fa fa-trash-alt" >Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

    $(".custom-file-input").on("change", function () {
	    var fileName = $(this).val().split("\\").pop();
	    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });



    function DeleteItem(btn) {
	    $(btn).closest('tr').remove();
    }



    function AddItem(btn) {

	    var table = document.getElementById('ExpTable');
	    var rows = table.getElementsByTagName('tr');

	    var rowOuterHtml = rows[rows.length - 1].outerHTML;

	    var lastrowIdx = document.getElementById('hdnLastIndex').value;

	    var nextrowIdx = eval(lastrowIdx) + 1;

	    document.getElementById('hdnLastIndex').value = nextrowIdx;

	    rowOuterHtml = rowOuterHtml.replaceAll('_' + lastrowIdx + '_', '_' + nextrowIdx + '_');
	    rowOuterHtml = rowOuterHtml.replaceAll('[' + lastrowIdx + ']', '[' + nextrowIdx + ']');
	    rowOuterHtml = rowOuterHtml.replaceAll('-' + lastrowIdx, '-' + nextrowIdx);


	    var newRow = table.insertRow();
	    newRow.innerHTML = rowOuterHtml;



	    var btnAddID = btn.id;
	    var btnDeleteid = btnAddID.replaceAll('btnadd', 'btnremove');

	    var delbtn = document.getElementById(btnDeleteid);
	    delbtn.classList.add("visible");
	    delbtn.classList.remove("invisible");


	    var addbtn = document.getElementById(btnAddID);
	    addbtn.classList.remove("visible");
	    addbtn.classList.add("invisible");

    }

    </script>
}
